{% extends 'master/master.html'%}
{% block content %}
{% load crispy_forms_tags %}
<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
              {% if messages %}
                 {% for message in messages %}
                     <div class="alert alert-success">{{ message }}</div>
                 {% endfor %}
              {% endif %}

               <form action="{% url 'contact' %}"  method="post">
                     {% csrf_token %}
                     {{form|crispy}}
                     <button class="btn btn-success">Send</button>
               </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest News</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              {% for lnews in latestnewsData %}
                  <li>
                    <div class="media"> <a href="{% url 'latestnews-details' lnews.slug %}" class="featured_img"> <img alt="" src="{{ lnews.image.url }}"></a>
                       <h2><span><a href="{% url 'latestnews-details' lnews.slug %}" class="catg_title">{{ lnews.title }}</a></span></h2>
                      <div class="media-body">  {{ lnews.description|slice:"255"|safe }} </div>
                    </div>
                  </li>
              {% endfor %}
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
    </div>
    </div>
  </section>
{% endblock %}